USE [master]
GO
/****** Object:  Database [HostelManagementSystem]    Script Date: 15/02/2019 17:23:55 ******/
CREATE DATABASE [HostelManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HostelManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\HostelManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HostelManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\HostelManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HostelManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HostelManagementSystem]
GO
USE [HostelManagementSystem]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 15/02/2019 17:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] NOT NULL,
	[UserID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[CostID] [int] NULL,
	[isConfirmed] [bit] NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bunk]    Script Date: 15/02/2019 17:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bunk](
	[BunkID] [int] NOT NULL,
	[RoomID] [int] NULL,
	[BunkAvailability] [bit] NULL,
 CONSTRAINT [PK_Bunk] PRIMARY KEY CLUSTERED 
(
	[BunkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cost]    Script Date: 15/02/2019 17:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cost](
	[CostID] [int] NOT NULL,
	[isWorkingVolunteer] [bit] NULL,
	[Price] [decimal](9, 6) NULL,
 CONSTRAINT [PK_Cost] PRIMARY KEY CLUSTERED 
(
	[CostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Guest_Booking]    Script Date: 15/02/2019 17:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest_Booking](
	[Guest_BookingID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[FirstName] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[isMale] [bit] NULL,
	[IsAdditionalGuest] [bit] NULL,
	[BunkID] [int] NULL,
	[DOB] [date] NULL,
 CONSTRAINT [PK_Guest_Booking] PRIMARY KEY CLUSTERED 
(
	[Guest_BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 15/02/2019 17:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] NOT NULL,
	[RoomColour] [varchar](50) NULL,
	[inCommission] [bit] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 15/02/2019 17:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] NOT NULL,
	[Password] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[DOB] [date] NULL,
	[AddressLine1] [varchar](50) NULL,
	[AddressLine2] [varchar](50) NULL,
	[Postcode] [varchar](50) NULL,
	[Phone Number] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[isWarden] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Cost] FOREIGN KEY([CostID])
REFERENCES [dbo].[Cost] ([CostID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Cost]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_User]
GO
ALTER TABLE [dbo].[Bunk]  WITH CHECK ADD  CONSTRAINT [FK_Bunk_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Bunk] CHECK CONSTRAINT [FK_Bunk_Room]
GO
ALTER TABLE [dbo].[Guest_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Guest_Booking_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Guest_Booking] CHECK CONSTRAINT [FK_Guest_Booking_Booking]
GO
ALTER TABLE [dbo].[Guest_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Guest_Booking_Bunk] FOREIGN KEY([BunkID])
REFERENCES [dbo].[Bunk] ([BunkID])
GO
ALTER TABLE [dbo].[Guest_Booking] CHECK CONSTRAINT [FK_Guest_Booking_Bunk]
GO
USE [master]
GO
